<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405410433170-p5ek3v9a8o5uni02rkiuanlucmcbrdo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405410433170-p5ek3v9a8o5uni02rkiuanlucmcbrdo1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>405410433170-83ltckc66hdnaiim6f9fmbfsagsiuvp1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLcvRiBIZKEUQIOY9TtruVICuOo3uZ9bc</string>
	<key>GCM_SENDER_ID</key>
	<string>405410433170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manager.appManage</string>
	<key>PROJECT_ID</key>
	<string>app-manage-b4fc2</string>
	<key>STORAGE_BUCKET</key>
	<string>app-manage-b4fc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405410433170:ios:c2e937e9892f5efdc23e4b</string>
	<key>DATABASE_URL</key>
	<string>https://app-manage-b4fc2.firebaseio.com</string>
</dict>
</plist>